site/themes/reflex/src/views/templates/about.pug
.page-mid
  .inner-wrap
    .introarea
      .row
        .col.centeritem.general
          div
            h1.green.titlefont {{ title }}
            p {{ content }}
      
        .col
          .aboutimage
            .big(style='background-image: url({{ about_image_big }});')
            .small(style='background-image: url({{ about_image_small }});')

  section.grey
    .inner-wrap
      .titlearea
        .row
          .col.general
            div
              h2.blue.titlefont {{ facilities_title }}
              p {{ facilities_content }}
      .serviceslist
        .row
          | {{ facilities }}
          .col
            .imgwrap
              | {{ if facilities_image}}
              img(src="{{ facilities_image }}", alt="{{ facilities_title }}")
              | {{ else }}
              img(src="/assets/img/placeholder.png", alt="{{ facilities_title }}")
              | {{ /if}}
            .textwrap
              h2.blue.titlefont {{ facilities_title }}
              p {{ facilities_text }}
          | {{ /facilities }}

  section
      .inner-wrap
        .titlearea
          .row
            .col.general
              div
                h2.orange.titlefont {{ testimonial_title }}
        .testimoniallist
          .row
            | {{ testimonials }}
            .col
              img.stars(src="/assets/img/fivestars.png", alt="{{ title }}")
              p.blue.titlefont "{{ testimonial_text }}"
              p.bold - {{ testimonial_name }}
            | {{ /testimonials }}

site/themes/reflex/templates/about.html
<div class="page-mid"><div class="inner-wrap"><div class="introarea"><div class="row"><div class="col centeritem general"><div><h1 class="green titlefont">{{ title }}</h1><p>{{ content }}</p></div></div><div class="col"><div class="aboutimage"><div class="big" style="background-image: url({{ about_image_big }});"></div><div class="small" style="background-image: url({{ about_image_small }});"></div></div></div></div></div></div><section class="grey"><div class="inner-wrap"><div class="titlearea"><div class="row"><div class="col general"><div><h2 class="blue titlefont">{{ facilities_title }}</h2><p>{{ facilities_content }}</p></div></div></div></div><div class="serviceslist"><div class="row">{{ facilities }}<div class="col"><div class="imgwrap">{{ if facilities_image}}<img src="{{ facilities_image }}" alt="{{ facilities_title }}"/>{{ else }}<img src="/assets/img/placeholder.png" alt="{{ facilities_title }}"/>{{ /if}}</div><div class="textwrap"><h2 class="blue titlefont">{{ facilities_title }}</h2><p>{{ facilities_text }}</p></div></div>{{ /facilities }}</div></div></div></section><section><div class="inner-wrap"><div class="titlearea"><div class="row"><div class="col general"><div><h2 class="orange titlefont">{{ testimonial_title }}</h2></div></div></div></div><div class="testimoniallist"><div class="row">{{ testimonials }}<div class="col"><img class="stars" src="/assets/img/fivestars.png" alt="{{ title }}"/><p class="blue titlefont">"{{ testimonial_text }}"</p><p class="bold">- {{ testimonial_name }}</p></div>{{ /testimonials }}</div></div></div></section></div>
