site/themes/reflex/templates/contact.html
<div class="page-mid"><div class="inner-wrap"><div class="contactpage"><div class="row"><div class="col general"><h1>{{ title }}</h1><p>{{ content }}</p>{{ partial:enquiryfrm }}</div><div class="col contactinfo"><div class="contactdetails"><div class="icon"><img src="/assets/img/phone.svg"/></div><div class="textinfo"><p>Call us on</p><h3>{{ phone_number }}</h3></div></div><div class="contactdetails"><div class="icon"><img src="/assets/img/email.svg"/></div><div class="textinfo"><p>Email us at</p><h3>{{ email_address }}</h3></div></div><div class="contactdetails"><div class="icon"><img src="/assets/img/map.svg"/></div><div class="textinfo"><p>Address</p><h3>{{ address }} </h3><a href="https://www.google.com/maps/place/Gortalowry+House,+94+Church+St,+Cookstown+BT80+8HX/@54.6357958,-6.7456269,17z/data=!3m1!4b1!4m5!3m4!1s0x4860605155e43b8d:0x3e02253309069540!8m2!3d54.6357958!4d-6.7434382" target="_blank">Get Directions</a></div></div></div></div></div></div></div>

site/themes/reflex/src/views/templates/contact.pug
.page-mid
  .inner-wrap
    .contactpage
      .row
        .col.general
          h1 {{ title }}
          p {{ content }}
          | {{ partial:enquiryfrm }}
      
        .col.contactinfo
          .contactdetails
            .icon
              img(src="/assets/img/phone.svg")
            .textinfo
              p Call us on
              h3 {{ phone_number }}
          .contactdetails
            .icon
              img(src="/assets/img/email.svg")
            .textinfo
              p Email us at
              h3 {{ email_address }}
          .contactdetails
            .icon
              img(src="/assets/img/map.svg") 
            .textinfo
              p Address
              h3 {{ address }} 
              a(href='https://www.google.com/maps/place/Gortalowry+House,+94+Church+St,+Cookstown+BT80+8HX/@54.6357958,-6.7456269,17z/data=!3m1!4b1!4m5!3m4!1s0x4860605155e43b8d:0x3e02253309069540!8m2!3d54.6357958!4d-6.7434382' target='_blank') Get Directions
