site/themes/reflex/src/views/templates/home.pug
.page-mid
  .homebanner
    .inner-wrap
      .row
        .col.centeritem.general
          div
            h1.greytext.titlefont {{ page_title }}
            a.button(href='{{ url }}') Read More
            
        .col
          .heroimg
            .bottom
              img(src="{{ hero-image-bottom }}")
              img(src="/assets/hero_border.png")
            .top(style='background-image: url({{ hero-image-bottom }});')
            
            img(src="/assets/award.svg").award 

  section.grey
    .inner-wrap
      .serviceslisthome
        | {{ get_content from="/our-services" }}
        .row
          .col.servicestitle
              h2.blue.titlefont {{ services-title }}
              p {{ services-content }}
              a.button(href='{{ url }}') Read More
          | {{ services_list }}
          .col
            | {{ if services_image }}
            .imgwrap
              img(src='{{ services_image width="290" height="200" fit="crop_focal"}}')
            | {{ else }}
            .imgwrap(style='background-image: url(/assets/img/placeholder.png);')
              img(src="/assets/img/placeholder.png", alt="{{ services_title }}")
            | {{ /if}}
            .textwrap
              h2 {{ services_title }}
          | {{ /services_list }}
        | {{ /get_content }}

  .inner-wrap
    .titlearea
      .row
        .col
          div
            h2.pink.titlefont {{ news-title }}
            p {{ services_content }}
      .news-items
        .row
          | {{ collection:news as="posts" limit="3" }}
          | {{ posts }}
          .col
            | {{ if news_image}}
            .imgwrap(style='background-image:url({{ news_image }})')
              img(src="{{ news_image }}", alt="{{ title }}")
            | {{ else }}
            .imgwrap(style='background-image: url(/assets/img/placeholder.png);')
              img(src="/assets/img/placeholder.png", alt="{{ title }}")
            | {{ /if}}
            .textwrap
              h2 {{ title }}
              <i class="far fa-calendar-alt"></i> {{ date }}
              .buttonposition
                a.button(href='{{ url }}') Read More
          | {{ /posts }}
          | {{ /collection:news }}


        

site/themes/reflex/templates/home.html
<div class="page-mid"><div class="homebanner"><div class="inner-wrap"><div class="row"><div class="col centeritem general"><div><h1 class="greytext titlefont">{{ page_title }}</h1><a class="button" href="{{ url }}">Read More</a></div></div><div class="col"><div class="heroimg"><div class="bottom"><img src="{{ hero-image-bottom }}"/><img src="/assets/hero_border.png"/></div><div class="top" style="background-image: url({{ hero-image-bottom }});"></div><img class="award" src="/assets/award.svg"/></div></div></div></div></div><section class="grey"><div class="inner-wrap"><div class="serviceslisthome">{{ get_content from="/our-services" }}<div class="row"><div class="col servicestitle"><h2 class="blue titlefont">{{ services-title }}</h2><p>{{ services-content }}</p><a class="button" href="{{ url }}">Read More</a></div>{{ services_list }}<div class="col">{{ if services_image }}<div class="imgwrap"><img src="{{ services_image width=&quot;290&quot; height=&quot;200&quot; fit=&quot;crop_focal&quot;}}"/></div>{{ else }}<div class="imgwrap" style="background-image: url(/assets/img/placeholder.png);"><img src="/assets/img/placeholder.png" alt="{{ services_title }}"/></div>{{ /if}}<div class="textwrap"><h2>{{ services_title }}</h2></div></div>{{ /services_list }}</div>{{ /get_content }}</div></div></section><div class="inner-wrap"><div class="titlearea"><div class="row"><div class="col"><div><h2 class="pink titlefont">{{ news-title }}</h2><p>{{ services_content }}</p></div></div></div><div class="news-items"><div class="row">{{ collection:news as="posts" limit="3" }}
{{ posts }}<div class="col">{{ if news_image}}<div class="imgwrap" style="background-image:url({{ news_image }})"><img src="{{ news_image }}" alt="{{ title }}"/></div>{{ else }}<div class="imgwrap" style="background-image: url(/assets/img/placeholder.png);"><img src="/assets/img/placeholder.png" alt="{{ title }}"/></div>{{ /if}}<div class="textwrap"><h2>{{ title }}</h2><i class="far fa-calendar-alt"></i> {{ date }}<div class="buttonposition"><a class="button" href="{{ url }}">Read More</a></div></div></div>{{ /posts }}
{{ /collection:news }}</div></div></div></div></div>
