site/themes/reflex/templates/services.html
<div class="page-mid"><div class="inner-wrap"><div class="titlearea"><div class="row"><div class="col general"><div><h2 class="orange titlefont">{{ title }}</h2><p>{{ services_content }}</p></div></div></div></div><div class="serviceslist"><div class="row">{{ services_list }}<div class="col"><div class="imgwrap">{{ if services_image}}<img src="{{ services_image }}" alt="{{ services_title }}"/>{{ else }}<img src="/assets/img/placeholder.png" alt="{{ services_title }}"/>{{ /if}}</div><div class="textwrap"><h2 class="blue titlefont">{{ services_title }}</h2><p>{{ services_content }}</p></div></div>{{ /services_list }}<div class="col cta"><h3 class="white titlefont">Get in touch now</h3><a class="button" href="/contact-us">contact us</a><p>Call us on <a href="tel:02886769808">028 86769808</a></p><p>Email us at <a href="mailto:info@gortkids.com">info@gortkids.com</a></p></div></div></div></div></div>

site/themes/reflex/src/views/templates/services.pug
.page-mid
  .inner-wrap
    .titlearea
      .row
        .col.general
          div
            h2.orange.titlefont {{ title }}
            p {{ services_content }}
    .serviceslist
      .row
        | {{ services_list }}
        .col
          .imgwrap
            | {{ if services_image}}
            img(src="{{ services_image }}", alt="{{ services_title }}")
            | {{ else }}
            img(src="/assets/img/placeholder.png", alt="{{ services_title }}")
            | {{ /if}}
          .textwrap
            h2.blue.titlefont {{ services_title }}
            p {{ services_content }}
        | {{ /services_list }}
        .col.cta
            h3.white.titlefont Get in touch now
            a.button(href='/contact-us') contact us

            p Call us on #[a(href="tel:02886769808") 028 86769808]
            p Email us at #[a(href="mailto:info@gortkids.com") info@gortkids.com]


      
