site/themes/reflex/templates/news/post.html
<div class="page-mid"><div class="newspostpage"><div class="inner-wrap"><div class="row"><div class="col"><h1>{{ title }} </h1><div class="date"><i class="far fa-calendar-alt"> </i>{{ date }}</div>{{ news_article }}</div><div class="col">{{ if news_image}}<div class="imgwrap" style="background-image:url({{ news_image }})"><img src="{{ news_image width=&quot;290&quot; height=&quot;200&quot; fit=&quot;crop_focal&quot;}}" alt="{{ title }}"/></div>{{ else }}<div class="imgwrap" style="background-image: url(/assets/img/placeholder.png);"><img src="/assets/img/placeholder.png" alt="{{ title }}"/></div>{{ /if}}</div></div></div><div class="inner-wrap">          {{ if image_gallery}}<div class="gallery"><h2 class="titlefont pink">Gallery</h2>{{ image_gallery }}<img src="{{ glide:value width=&quot;290&quot; height=&quot;200&quot; fit=&quot;crop_focal&quot; }}" alt=""/>{{ /image_gallery }}</div>{{ /if}}</div></div></div>

site/themes/reflex/src/views/templates/news/post.pug
.page-mid
    .newspostpage
        .inner-wrap
            .row
                .col
                    h1 {{ title }} 
                    .date
                        i.far.fa-calendar-alt  
                        | {{ date }}

                    | {{ news_article }}
                .col
                    | {{ if news_image}}
                    .imgwrap(style='background-image:url({{ news_image }})')
                        img(src='{{ news_image width="290" height="200" fit="crop_focal"}}', alt="{{ title }}")
                    | {{ else }}
                    .imgwrap(style='background-image: url(/assets/img/placeholder.png);')
                        img(src="/assets/img/placeholder.png", alt="{{ title }}")
                    | {{ /if}}

     
        .inner-wrap           
            | {{ if image_gallery}}
            .gallery
                h2.titlefont.pink Gallery
                | {{ image_gallery }}
                img(src='{{ glide:value width="290" height="200" fit="crop_focal" }}' alt="")
                | {{ /image_gallery }}
            | {{ /if}}
