site/themes/reflex/src/views/partials/enquiryfrm.pug
#enquire-frm
  | {{ form:create in="enquiry" }}    
  | {{ if errors }}
  .validation-msg.error
    | {{ errors }}
    | {{ value }}
    br
    | {{ /errors }}
  | {{ /if }}
  | {{ if success }}
  .validation-msg
    | Form was submitted successfully.
  | {{ else }}
  input(type='hidden', name='url', value='{{ current_url }}')
  input#referer(type='hidden', name='referer', value='')
  input#subject(type='hidden', name='subject', value='')
  .form-item
    label Name
    input(type='text', name='name', placeholder="Name", required="required" value='{{ old:name }}')
    input(type='text', name='honeypot', placeholder="Surname", value='{{ old:honeypot }}').hide
  .form-item
    label Email
    input(type='email', name='email', placeholder="Email Address", required="required" value='{{ old:email }}')
  .form-item
    label Phone
    input(type='text', name='phone', placeholder="Phone Number", value='{{ old:phone_number }}')

  .form-item
    label Message
    textarea(name='message', placeholder="Message", required="required") {{ old:message }}

  button.button#submit_enquiry_btn Submit Enquiry

  | {{ /if }}
  | {{ /form:create }}

site/themes/reflex/partials/enquiryfrm.html
<div id="enquire-frm">{{ form:create in="enquiry" }}    
{{ if errors }}<div class="validation-msg error">{{ errors }}
{{ value }}<br/>{{ /errors }}</div>{{ /if }}
{{ if success }}<div class="validation-msg">Form was submitted successfully.</div>{{ else }}<input type="hidden" name="url" value="{{ current_url }}"/><input id="referer" type="hidden" name="referer" value=""/><input id="subject" type="hidden" name="subject" value=""/><div class="form-item"><label>Name</label><input type="text" name="name" placeholder="Name" required="required" value="{{ old:name }}"/><input class="hide" type="text" name="honeypot" placeholder="Surname" value="{{ old:honeypot }}"/></div><div class="form-item"><label>Email</label><input type="email" name="email" placeholder="Email Address" required="required" value="{{ old:email }}"/></div><div class="form-item"><label>Phone</label><input type="text" name="phone" placeholder="Phone Number" value="{{ old:phone_number }}"/></div><div class="form-item"><label>Message</label><textarea name="message" placeholder="Message" required="required">{{ old:message }}</textarea></div><button class="button" id="submit_enquiry_btn">Submit Enquiry</button>{{ /if }}
{{ /form:create }}</div>
