site/themes/reflex/partials/footer.html
<footer>    <div class="btm"><div class="inner-wrap"><div class="col">Copyright &copy; {{current_date format='Y'}} Gort Kids | <a href="/privacy-policy">Privacy Policy</a></div><div class="col">Website by <a href="http://www.reflex-studios.com">Reflex Studios</a></div></div></div></footer>

site/themes/reflex/src/views/partials/footer.pug
footer     
    .btm
        .inner-wrap
            .col Copyright &copy; {{current_date format='Y'}} Gort Kids | #[a(href="/privacy-policy") Privacy Policy]
            .col Website by #[a(href="http://www.reflex-studios.com") Reflex Studios]
