site/themes/reflex/partials/header.html
<header><div class="top"><div class="inner-wrap"> <div class="col"><a class="logo" href="/"><img src="/assets/img/logo.png" alt="{{ site_title }}"/></a></div><div class="col"><ul>{{ nav from="/" include_home="true" }}
{{ if hide_from_navigation == false }}<li>{{ if is_current || is_parent }}<a class="active" href="{{ url }}">{{ title }}</a>{{ else }}<a href="{{ url }}">{{ title }}</a>{{ /if }}</li>{{ /if }}
{{ /nav }}<a href="#"><i class="fab fa-facebook fa-2x"></i></a></ul></div></div></div></header>

site/themes/reflex/src/views/partials/header.pug
header
  .top
    .inner-wrap  
      .col
        a(href='/').logo
          img(src='/assets/img/logo.png', alt="{{ site_title }}")
      .col
       ul
          | {{ nav from="/" include_home="true" }}
          | {{ if hide_from_navigation == false }}
          li
            | {{ if is_current || is_parent }}
            a.active(href="{{ url }}") {{ title }}
            | {{ else }}
            a(href="{{ url }}") {{ title }}
            | {{ /if }}
          | {{ /if }}
          | {{ /nav }}
          a(href='#')
            <i class="fab fa-facebook fa-2x"></i>
