site/themes/reflex/src/views/partials/mobilemenu.pug
#mobile-nav-items
  #mobile-nav-inner-items
    .top
      a(href='/')
        img(src='/assets/img/logo.png', alt="{{ site_title }}")
    .mid
      ul
        | {{ nav from="/" include_home="true" max_depth="2" }}
        | {{ if hide_from_navigation == false }}
        li.parent
          | {{ if is_current || is_parent }}
          a.active(href="{{ url }}") {{ title }}
          | {{ else }}
          a(href="{{ url }}") {{ title }}
          | {{ /if }}
          | {{ if children }}
          ul.second {{ *recursive children* }}
          | {{ /if }}
        | {{ /if }}
        | {{ /nav }}

site/themes/reflex/partials/mobilemenu.html
<div id="mobile-nav-items"><div id="mobile-nav-inner-items"><div class="top"><a href="/"><img src="/assets/img/logo.png" alt="{{ site_title }}"/></a></div><div class="mid"><ul>{{ nav from="/" include_home="true" max_depth="2" }}
{{ if hide_from_navigation == false }}<li class="parent">{{ if is_current || is_parent }}<a class="active" href="{{ url }}">{{ title }}</a>{{ else }}<a href="{{ url }}">{{ title }}</a>{{ /if }}
{{ if children }}<ul class="second">{{ *recursive children* }}</ul>{{ /if }}</li>{{ /if }}
{{ /nav }}</ul></div></div></div>
