site/themes/reflex/partials/slideshow.html
{{ slideshow }}<div class="slideshow"><div class="slide" style="background-image: url('{{ glide:image }}');"><div class="txt-wrap"><div><div class="inner-wrap"><h3>J&amp;K Coaches</h3><h2>{{ title }}</h2><p>{{ caption }}</p>{{ if link != '' }}<a class="btn" href="#">View More</a>{{ endif }}</div></div></div></div></div>{{ /slideshow }}

site/themes/reflex/src/views/partials/slideshow.pug
| {{ slideshow }}
.slideshow
  .slide(style="background-image: url('{{ glide:image }}');")
    .txt-wrap
      div
        .inner-wrap
          h3 J&amp;K Coaches
          h2 {{ title }}
          p {{ caption }}
          | {{ if link != '' }}
          a.btn(href="#") View More
          | {{ endif }}

| {{ /slideshow }}
