site/themes/reflex/src/views/partials/subscribe.pug
#subscribe-frm
  #validation.validation-msg.hidden
  | {{ form:create in="subscription" attr="class:subscribe-frm" }}    
  .form-item.form-item-first
      label Email
      input(type='email', name='email', placeholder="Email Address", required="required" value='{{ old:email }}')
  .form-item
      label Name
      input(type='text', name='name', placeholder="Name", required="required" value='{{ old:name }}')
  button.btn#submit_enquiry_btn Sign Up
  | {{ /form:create }}

site/themes/reflex/partials/subscribe.html
<div id="subscribe-frm"><div class="validation-msg hidden" id="validation"></div>{{ form:create in="subscription" attr="class:subscribe-frm" }}    <div class="form-item form-item-first"><label>Email</label><input type="email" name="email" placeholder="Email Address" required="required" value="{{ old:email }}"/></div><div class="form-item"><label>Name</label><input type="text" name="name" placeholder="Name" required="required" value="{{ old:name }}"/></div><button class="btn" id="submit_enquiry_btn">Sign Up</button>{{ /form:create }}</div>
